.song-container {
  height: 60vh;
  // background-color: palevioletred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 20px;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 3rem;
    text-transform: titlecase;
    margin-bottom: 0.5rem;
  }
}
